@font-face {
    font-family: Montserrat;
    src: url(assets/montserrat.ttf);
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

:root {
    --light-color: #fefefe;
    --mid-color: #f0f0f0;
    --dark-color: #444444;
    --darker-color: #333333;
}

[darkMode='on'] {
    --light-color: #333333;
    --mid-color: #f0f0f0;
    --dark-color: #fefefe;
}

h1,
p {
    color: var(--dark-color);
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat';
    background-color: var(--light-color);
}

#main-content {
    text-align: center;
    transform: translateY(100%);
    animation: fadein 1.75s;
}

#main-content h1 {
    font-size: 60pt;
}
