@font-face {
  font-family: Montserrat;
  src: url(assets/montserrat.ttf);
}

:root {
  --width: 400px;
  --height: 600px;
  --dark-color: #333333;

  --light-color: #e3e3e3;
  --mid-color: #dddddd;
  --dark-color: #444444;
}

body {
  width: var(--width);
  height: var(--height);
  background-color: var(--light-color);
}

.navbar {
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: var(--mid-color);
}

#icon-container {
  width: 100%;
}

.nav-title {
  font-size: 24pt;
  font-family: 'Montserrat';
}
